*{
  box-sizing: border-box;
}

#calculadora{
  height: 306px;
  width: 250px;
  border: 3px solid black;
}

button{
  height: 50px;
  width: calc(100% - 75%);
  border: 1px solid black;
}

input{
  height: 50px;
  border: 0.5px solid black;
  width: 100%;
  padding: 2px;
}
